body{
  background-color: black;
  

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.main{
 
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
font-size: large;
}

.col2{
display: flex;
flex-wrap:wrap;
}

.cont{
margin: 10px;
width: 35vh;
background-color: white;
height: 30vh;
border: 2px solid lightblue;
box-shadow:  5px 5px rgb(0, 110, 255);
}
h6{
  color: black;
  margin: auto;
 position: relative;
 left: 10px;
 top: 2px;
 font-weight: bolder;
 
}

.color{
  color: white;
  font-weight: bolder;
}

.colsm{
  position: relative;
  top: 3vh;
  margin: 1vh;
}

.but{
  margin: 5px;
  background-color: black;
}

span{
  font-size: x-large;
}